@{ ViewData["Title"] = "Edit Page"; } 

@model Dish

<head>
  <link rel="stylesheet" href="~/css/add.css" />
  <!-- <link rel="stylesheet" href="~/css/edit.css" /> -->
</head>

@section Title{
<div class="text-center">
  <h1>Edit @Model.Name</h1>
</div>
}

<form
  asp-action="Update"
  asp-controller="Dish"
  asp-route-dishId="@Model.DishId"
  method="post"
>
  <div class="dish-container">
    <!--+---------------------------SECTION 1----------------------------->
    <div class="section1">
      <!--* CHEF NAME -->
      <section class="chef">
        <label asp-for="Chef">Chef's Name</label>
        <input asp-for="Chef" type="text" value="@Model.Chef" />
        <span asp-validation-for="Chef"></span>
      </section>

      <!--* DISH NAME -->
      <section class="dish">
        <label asp-for="Name">Name of Dish</label>
        <input asp-for="Name" type="text" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
      </section>

      <!--* CALORIES -->
      <section class="calories">
        <label asp-for="Calories"># of Calories</label>
        <input asp-for="Calories" type="int" value="@Model.Calories" />
        <span asp-validation-for="Calories"></span>
      </section>
    </div>

    <!--+---------------------------SECTION 2----------------------------->
    <!--* TASTINESS -->
    <div class="section2">
      <section class="tasty">
        <label asp-for="Tastiness">Tastiness</label>
        <select asp-for="Tastiness" value="@Model.Tastiness">
          <option value="">Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
      </section>
    </div>

    <!--+---------------------------SECTION 3----------------------------->
    <!--* DESCRIPTION -->
    <div class="section3">
      <section class="text-box">
        <label asp-for="Description"></label>
        <textarea
          asp-for="Description"
          cols="55"
          rows="7"
          value="@Model.Description"
        ></textarea>
        <span asp-validation-for="Description"></span>
      </section>

      <!--* BUTTONS -->
      <button id="update-button">Update Dish</button>
    </div>
  </div>
</form>
