@{ ViewData["Title"] = "Dish View"; } 

@model Dish

<head>
  <link rel="stylesheet" href="~/css/view.css" />
</head>
@section Title{

<div class="text-center">
  <!--* DISH NAME  -->
  <h1>@Model.Name</h1>
</div>
}

<div class="info-container">
  <div class="dish-info">
    <!--* DISH & CHEF NAME  -->
    <h3>@Model.Name by @Model.Chef</h3>

    <!--* DESCRIPTION -->
    <p>@Model.Description</p>

    <!--*CALORIES -->
    <p>Calories: @Model.Calories</p>

    <!--* TASTINESS -->
    <p>Tastiness: @Model.Tastiness</p>
  </div>

  <!--* BUTTONS-->
  <div class="buttons">
    <a class="delete" href="/dish/@Model.DishId/delete">Delete</a>
    <a class="edit" href="/dishes/@Model.DishId/edit">Edit</a>
  </div>
</div>
